<!--Page Header-->		
<div id="masthead">  
  <div class="container">
	<div class="row">
	  <div class="col-md-7">
		<h2>Screening
		</h2>
	  </div>
	</div>
	<hr style="border-top: 1px solid #a0a0a0">
  </div><!-- /cont -->
</div>

<br>

<img src="/app/components/investing/screen/images/preferred-stocks2-575x250.jpg" height="250" width="575">

<form style="margin: 5em 0em;">
	<div class="form-group">
        <label for="timeOption">Option: </label>
		<div class="input-group">
			<select class="form-control" id="timeOption">
			  <option value="" disabled selected>Select an option...</option>
			  <option value="1">1 min</option>
			  <option value="5">5 min</option>
			  <option value="10">10 min</option>
			  <option value="15">15 min</option>
				<option value="30">30 min</option>
			</select>
		</div>
	</div>
	<button class="btn btn-default"> Screen </button>
</form>

