<!--Page Header-->		
<div id="masthead">  
	<div class="row">
	  <div class="col-md-7">
		<h2>Watch List
		</h2>
	  </div>
	</div>
	<hr style="border-top: 1px solid #a0a0a0">
</div>

<div>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Index</th>
			<th>Price</th>
			<th>Rating</th>
			<th></th>
		</tr>
		<tr ng-repeat="stock in model.stocks">
			<td>{{stock.name}}</td>
			<td>{{stock.index}}</td>
			<td>{{stock.price}}</td>
			<td>
				<stock-rating value="stock.rating" max="5" set-rating="model.setRating(stock, value)">
					<!--<span class="glyphicon glyphicon-star"></span> (ng-transclude example)
						commented for demonstration-->
				</stock-rating>
			</td>
			<td>
				<div class="btn-group">
					<button class="btn btn-default" ng-click="model.upRating(stock)">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
					<button class="btn btn-default" ng-click="model.downRating(stock)">
						<span class="glyphicon glyphicon-minus"></span>
					</button>
					<a class="btn btn-default" ng-click="model.goTo(stock.id)">
						<span class="glyphicon glyphicon-zoom-in"></span>
					</a>
				</div>
			</td>
		</tr>
	</table>
</div>