<!--Sidebar-->
<nav>
	<div class="navbar-default sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse">
			<ul ng-metis class="nav metisMenu">
				<li class="sidebar-search">
					<div class="input-group custom-search-form">
						<input type="text" class="form-control" placeholder="Search...">
						<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-search"></i>
						</button>
					</span>
					</div>
					<!-- /input-group -->
				</li>
				<li ng-repeat="item in vm.options">
					<a ng-link="[{{item.urlName}}]"><i class="fa fa-fw {{item.icon}}"></i>{{item.text}}</a>
				</li>
			</ul> 
		</div>
		<!-- /.sidebar-collapse -->
	</div>
</nav>